body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo .dfn {
  text-transform: uppercase;
  background-color: #b58900;
}

strong:nth-child(2) {
  color: #fff;
}

.wrapper {
  background-color: #eee8d5;
}

#id {
  color: #93a1a1;
}

a {
  background-color: #719e07;
}

.no-highlight {
  background-color: #fdf6e3;
}

[rel="external"] {
  background-color: #2694d8;
}

ol li {
  color: #2aa198;
}
